/* ==========================================================================
   Base styles
   ========================================================================== */
* {
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
	background: url(../../img/bubbles_bg.png) repeat fixed;
	height: 3800px;
}

#site {
	.page {
		height: 100%;
		opacity: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	circle {
		fill: none;
		stroke-width: 3px;
	}

	.progress-meter .background {
		fill: #ccc;
	}

	.progress-meter .foreground {
		fill: #000;
	}

	.progress-meter text {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 24px;
		font-weight: bold;
	}

	.running_man span {
		background: url(../../img/sprite_animation.png) 0 0 no-repeat;
		background-size: 600px 600px;
		display: block;
		margin: 50px;
		width: 100px;
		height: 120px;

		&.anim_0 { background-position: 0 0; }
		&.anim_1 { background-position: -100px 0; }
		&.anim_2 { background-position: -200px 0; }
		&.anim_3 { background-position: -300px 0; }
		&.anim_4 { background-position: -400px 0; }
		&.anim_5 { background-position: -500px 0; }

		&.anim_6 { background-position: 0 -120px; }
		&.anim_7 { background-position: -100px -120px; }
		&.anim_8 { background-position: -200px -120px; }
		&.anim_9 { background-position: -300px -120px; }
		&.anim_10 { background-position: -400px -120px; }
		&.anim_11 { background-position: -500px -120px; }

		&.anim_12 { background-position: 0 -240px; }
		&.anim_13 { background-position: -100px -240px; }
		&.anim_14 { background-position: -200px -240px; }
		&.anim_15 { background-position: -300px -240px; }
		&.anim_16 { background-position: -400px -240px; }
		&.anim_17 { background-position: -500px -240px; }

		&.anim_18 { background-position: 0 -360px; }
		&.anim_19 { background-position: -100px -360px; }
		&.anim_20 { background-position: -200px -360px; }
		&.anim_21 { background-position: -300px -360px; }
		&.anim_22 { background-position: -400px -360px; }
		&.anim_23 { background-position: -500px -360px; }

		&.anim_24 { background-position: 0 -480px; }
		&.anim_25 { background-position: -100px -480px; }
		&.anim_26 { background-position: -200px -480px; }
		&.anim_27 { background-position: -300px -480px; }
		&.anim_28 { background-position: -400px -480px; }
		&.anim_29 { background-position: -500px -480px; }
	}
}